rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    /**
     * 認証済みなら許可
     */
    function isAuthorized() {
      return request.auth != null;
    }
    /**
     * CreateリクエストのAccountデータが正しい場合は許可
     */
    function isValidCreatingAccount(reqUid, reqData) {
      return (
        // フィールドチェック
        reqData.keys().hasAll(['uid', 'displayName', 'status', 'createdAt', 'updatedAt'])
        // uidフィールドの値チェック
        && reqData.uid == reqUid
        // displayNameフィールドの型と値チェック
        && reqData.displayName is string && reqData.displayName.size() <= 20
        // statusフィールドの値チェック
        && reqData.status == 'active'
        // createdAtフィールドの型チェック
        && reqData.createdAt is timestamp
        // updatedAtフィールドの型チェック
        && reqData.updatedAt is timestamp
      );
    }
    /**
     * UpdateリクエストのAccountデータが正しい場合は許可
     */
    function isValidUpdatingAccount(reqUid, reqData) {
      return (
        // フィールドチェック
        reqData.keys().hasOnly(['displayName', 'avatarUrl', 'status', 'updatedAt'])
        // updatedAtフィールドがあるかのチェック (必須)
        && reqData.keys().hasAll(['updatedAt'])
        // displayNameフィールドの型と値チェック
        && reqData.displayName is string && reqData.displayName.size() <= 20
        // avatarUrlの型チェック
        && reqData.avatarUrl is string
        // statusフィールドの値チェック
        && reqData.status in ['active', 'inactive']
        // updatedAtフィールドの型チェック
        && reqData.updatedAt is timestamp
      );
    }

    match /NotaApp/v0 {
      /**
       * Accountコレクション
       */
      match /Account/{docId} {
        allow get: if resource.data.status == 'active';
        allow list: if resource.data.status == 'active';
        allow create: if isAuthorized() && docId == request.auth.uid && isValidCreatingAccount(request.auth.uid, request.resource.data);
        allow update: if isAuthorized() && docId == request.auth.uid && isValidUpdatingAccount(request.auth.uid, request.resource.data);
        allow delete: if false;
      }
    }
  }
}
