rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    /**
     * 自身のファイルの場合のみ許可
     */
    function isOwnResource(uid) {
      return request.auth != null
             && uid == request.auth.uid;
    }
    /**
     * リクエストのリソースのSize,ContentTypeをチェック
     */
    function isValidFileFormat() {
      return request.resource.size <= 1024 * 1024
             && request.resource.contentType.matches('image/(jpeg|png)');
    }

    match /v0 {
      /**
       * accountディレクトリ
       */
      match /account/{uid}/{filename} {
        allow read: if true;
        allow write: if isOwnResource(uid) && isValidFileFormat();
        allow delete: if isOwnResource(uid);
      }
    }
  }
}
